<h1 class="pull-left">Projetos</h1>

<%= link_to (new_project_path), :class => "btn btn-primary pull-right margin-top-med" do %> Novo <% end %>

<table class="table">
  <tr>
    <th>Nome</th>
    <th>Ações</th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>
        <%= link_to 'Editar', edit_project_path(project) %>
        <%= link_to 'Remover', project, method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
  <% end %>
</table>